.about-bg {
    background-image: url(./assets/images/about2.jpg);
}

.about-bg1 {
    background-image: url(./assets/images/about1.jpg);
}
.hire-me-bg {
    background-image: url(./assets/images/bg_1.jpg);

}
a { color: inherit !important; }
